body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #8e44ad, #3498db);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

form {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    height: auto;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
    text-align: left;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    outline: none;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 14px;
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    transition: isbackground 0.3s, transform 0.2s;
}

button:hover {
    background: linear-gradient(to right, #3498db, #8e44ad);
    transform: scale(1.02);
}

button:active {
    transform: scale(0.98);
}

#message {
    margin-top: 20px;
    font-weight: bold;
}
#registrationForm{
    margin: 40px;
}